{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[./]", "^../", "^[a-z-]+$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
